<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
   
    <title>Document</title>
</head>
<body>

    <h1>Projeto API</h1>

    <h2>Editar</h2>

    <div class=""></div>
    <form action="" id="form-user">

        <label for="">Id</label>
        <input type="text" id="input-id-edit">

        <button id="edit-search">Search User</button>

        <label for="" >Name</label>
        <input type="text" id="input-name">

        <label for="">CPF</label>
        <input type="text" id="input-cpf">

        <label for="">BirthDate</label>
        <input type="text" id="input-birthdate">

        <label for="">Email</label>
        <input type="text" id="input-email">

        <label for="">Password</label>
        <input type="text" id="input-password">

        <label for="">Address</label>
        <input type="text" id="input-address">

        <label for="">Number</label>
        <input type="text" id="input-number">

        <label for="">Complement</label>
        <input type="text" id="input-complement">

        <label for="">City</label>
        <input type="text" id="input-city">

        <label for="">State</label>
        <input type="text" id="input-state">

        <label for="">Country</label>
        <input type="text" id="input-country">

        <label for="">Zip Code</label>
        <input type="text" id="input-zipcode">

        <button id="edit-clean">Clean Form</button>

        <label for=""></label>

        <input type="submit" name="" id="edit-user" value="Confirm Edition">

        <button id="edit-delete">Delete User</button>
    </form>

    </div>
    <script src="../controllers/viewController.js"></script>
</body>
</html>