<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Tasks</h1>

    <div class=""></div>
    <form action="" id="form-user">

        <label for="">Task Id</label>
        <input type="text" id="input-taskid">

        <button id="button-get-taskid">Consult Task by ID</button>

        
        <label for="">Description</label>
        <input type="text" id="input-description">

        <label for="">Date</label>
        <input type="text" id="input-date" placeholder="yyyy-mm-dd">

        <label for="">User Id</label>
        <input type="text" id="input-userid">

        <button id="button-get-all">Consult All</button>

        <button id="clean-task">Clean Task</button>

    </form>

    <div class="get-all">
        
    </div>

    <div id="json">

    </div>
    <script  src="../controllers/viewTasksController.js"></script>
</body>
</html>